* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}
/* Block Abonnement */

.abonnement-block{
    background-color: #BB6161;
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.offre {
    color: white;
    height: 84px;
    font-family: 'Baloo 2', cursive;
    text-align: center;
    font-size: 36px;
}

.abonnement-button{
    font-weight: bold;
}

/* Block Title */
.title-block{
    background-color: #E3AF89;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

.main-title {
    font-weight: bold;
    color: white;
    font-family: 'Baloo 2', cursive;
    font-size: 144px;
    letter-spacing: 0;
    margin-left: 10px;
}

.slogan {
    font-family: 'Alex Brush', cursive;
    color: black;
    width: 836px;
    height: 120px;
    text-align: center;
    font-size: 72px;
    letter-spacing: 0;
    position: relative;
    left: 100px;
}

/* Block Nav */
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    list-style-type: none;
}
.menu-list-item {
    background-color: white;
    font-weight: bold;
    color: #BB6161;
    width: 320px;
    height: 80px;
    border: 2px solid #BB6161;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-link {
    font-weight: bold;
    color: #BB6161;
}

/* Block Body */
.body-block{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.body-title{
    color: #BB6161;
    font-weight: bold;
    text-align: center;
}
.input-text{
    background-color: #EEE5E5;
    position: relative;
    left: 25%;
    width: 50%;
    height: 50px;
    margin: 20px;
}
::placeholder { 
    color: #BB6161;
    opacity: 1;
    font-weight: bold;
}
.inscription-button{
    background-color: #EEE5E5;
    font-weight: bold;
    color: #BB6161;
    position: relative;
    left: 25%;
    width: 50%;
    height: 50px;
    margin: 20px;
}


.inscription-link{
    background-color: #EEE5E5;
    font-weight: bold;
    color: #BB6161;
}
.connexion-link{
    font-weight: bold;
    color: black;
}


/* Block Footer */
.footer-block {
    background-color: #E3AF89;
    width: 100%;
    height: 400px;
}

.footer-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    color: white;
    font-size: 50px;
    align-items: baseline;
}
.title-footer{
    color: white;
}
.footer-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    color: white;
    font-size: 50px;
    align-items: baseline;
}
.footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    list-style-type: none;
    color: #333;
    font-family: Baloo 2;
    font-weight: SemiBold;
    opacity: 1;
    text-align: center;
}
.footer-list-item {
    color: black;
    font-weight: bold;
    font-size: 20px;
}